In [23]:
import pandas as pd
df = pd.read_csv("data.csv")

In [24]:
df.tail()

,id,state,abbr,poverty,povertyMoe,age,ageMoe,income,incomeMoe,healthcare,healthcareLow,healthcareHigh,obesity,obesityLow,obesityHigh,smokes,smokesLow,smokesHigh,-0.385218228
47,53,Washington,WA,13.2,0.4,37.5,0.1,61366.0,485.0,10.7,9.7,11.8,27.3,26.0,28.5,15.3,14.3,16.4,NaN
48,54,West Virginia,WV,18.3,0.7,41.9,0.2,41059.0,651.0,10.1,9.1,11.2,35.7,34.2,37.2,26.7,25.2,28.1,NaN
49,55,Wisconsin,WI,13.2,0.4,39.2,0.2,52622.0,433.0,8.5,7.4,9.7,31.2,29.6,32.8,17.4,16.0,18.7,NaN
50,56,Wyoming,WY,11.2,0.9,36.6,0.4,57055.0,1983.0,15.1,13.3,16.9,29.5,27.4,31.5,19.5,17.6,21.4,NaN
51,vv,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 19 columns):
id                52 non-null object
state             51 non-null object
abbr              51 non-null object
poverty           51 non-null float64
povertyMoe        51 non-null float64
age               51 non-null float64
ageMoe            51 non-null float64
income            51 non-null float64
incomeMoe         51 non-null float64
healthcare        51 non-null float64
healthcareLow     51 non-null float64
healthcareHigh    51 non-null float64
obesity           51 non-null float64
obesityLow        51 non-null float64
obesityHigh       51 non-null float64
smokes            51 non-null float64
smokesLow         51 non-null float64
smokesHigh        51 non-null float64
-0.385218228      0 non-null float64
dtypes: float64(16), object(3)
memory usage: 7.8+ KB

In [26]:
# Delete the last row
df= df[:-1]

In [27]:
df['abbr'].unique()

array(['AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'DC', 'FL', 'GA',
       'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA',
       'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY',
       'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX',
       'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY'], dtype=object)

In [20]:
df.tail()

,id,state,abbr,poverty,povertyMoe,age,ageMoe,income,incomeMoe,healthcare,healthcareLow,healthcareHigh,obesity,obesityLow,obesityHigh,smokes,smokesLow,smokesHigh,-0.385218228
46,51,Virginia,VA,11.8,0.3,37.7,0.1,64902.0,624.0,13.1,12.0,14.1,28.5,27.2,29.7,19.5,18.4,20.7,NaN
47,53,Washington,WA,13.2,0.4,37.5,0.1,61366.0,485.0,10.7,9.7,11.8,27.3,26.0,28.5,15.3,14.3,16.4,NaN
48,54,West Virginia,WV,18.3,0.7,41.9,0.2,41059.0,651.0,10.1,9.1,11.2,35.7,34.2,37.2,26.7,25.2,28.1,NaN
49,55,Wisconsin,WI,13.2,0.4,39.2,0.2,52622.0,433.0,8.5,7.4,9.7,31.2,29.6,32.8,17.4,16.0,18.7,NaN
50,56,Wyoming,WY,11.2,0.9,36.6,0.4,57055.0,1983.0,15.1,13.3,16.9,29.5,27.4,31.5,19.5,17.6,21.4,NaN

In [22]:
# Save the cleaned dataframe as csv, cover the original file
df.to_csv("data_clean.csv",index=False)